<div class="container">
<div id="tweets_per_minute" style="min-width: 500px; height: 400px; margin: 0 auto"></div>
<div id="container" style="min-width: 500px; height: 400px; margin: 0 auto"></div>
<% cache do %>
  <table>
    <thead>
      <th>Tweet</th>
      <th>Tweeter</th>
      <th>Sent At</th>
      <th>Batch Time</th>
    </thead>
    <tbody>
    <% @statuses.each do |status| %>
      <tr>
	<td><%= status.text %></td>
	<td><%= status.handle %></td>
	<td><%= distance_of_time_in_words_to_now status.sent_at %> ago</td>
	<td><%= distance_of_time_in_words_to_now status.batch_time %> ago</td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<script>
$(function () {
        $('#tweets_per_minute').highcharts({
            chart: {
                type: 'column',
		backgroundColor: '#f5f5f5',
                margin: [ 50, 50, 100, 80]
            },
            colors: ['#2ea879'],
            title: {
                text: 'Bieber Tweets Per Miniute',
		style: {
		color: '#7C8D87'
		}
            },
            xAxis: {
                categories: [
		  <% @dashboard.last_24_hours_tweets_per_5min.each do |date, count|%>

		    '<%= date_formater(date) %>',
		  <% end %>
                ],
                labels: {
                    enabled: false,
                    rotation: -90,
                    align: 'right',
                    style: {
                        fontSize: '8px',
                        color: '#2ea879',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '# of Tweets',
		style: {
		color: '#7C8D87'
		}
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Tweets: <b>{point.y}</b>',
            },
            series: [{
                name: 'Tweets',
		      data: [
		<% @dashboard.last_24_hours_tweets_per_5min.each do |date, count|%>
			<%= count %>,
		    <%end %>
			],

                dataLabels: {
                    enabled: false,
                    rotation: -90,
                    color: '#2ea879',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });

$(function () {
        $('#container').highcharts({
            chart: {
                type: 'column',
		backgroundColor: '#f5f5f5',
                margin: [ 50, 50, 100, 80]
            },
colors: ['#2ea879'],

            title: {
                text: 'Bieber Tweets in The Last 24 Hours by Batch Time',
		style: {
		color: '#7C8D87'
		}
            },
            xAxis: {
                categories: [
		<% @dashboard.last_24_hours_batch_sizes.each do |date, count|%>
		    '<%= date_formater(date) %>',
		<% end %>
                ],
                labels: {
                    rotation: -90,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '# of Tweets',
		style: {
		color: '#7C8D87'
		}
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Tweets: <b>{point.y}</b>',
            },
            series: [{
                name: 'Tweets',
		      data: [
			<% @dashboard.last_24_hours_batch_sizes.each do |date,count| %>
			<%= count %>,
		    <%end %>
			],

                dataLabels: {
                    enabled: false,
                    rotation: 180,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '8px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });


</script>
</div>
